{% extends "style.html" %}

{% block content %}


<!-- Required meta tags -->
<!--<meta charset="utf-8">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
{% if title %}
<title>{{ title }} - Login</title>
{% endif %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="http://localhost:5000/">Home</a></li>
</ol>

<h1>DBS PlanLah</h1>

<a href="https://www.dbs.com/sandbox/api/sg/v1/oauth/authorize?client_id=bae0f581-fa43-471c-a10f-c07e45d328d6&redirect_uri=http%3A%2F%2Flocalhost%3A5000&scope=Read&response_type=code&state=0399">Login</a>


{% endblock %}