<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>DBS PlanLah</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/united/bootstrap.min.css">
        <!-- <script src="{{ url_for('static', filename='Chart.min.js') }}"></script> -->
    </head>
    <body style="background: rgb(170, 170, 169);">
        <div style="max-width: 1500px; margin: auto; background: white; padding: 10px;">
            {% block content %}

            {% endblock %}
        </div>
                
    </body>
</html>